{% extends './base.html' %}

{% block title %} Pagina de administracion {% endblock %}

{% block body %}
<nav class="navbar bg-dark" data-bs-theme="dark" style="margin-bottom: 10rem;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 fs-1">Bienvenido {{ current_user.fullname }}</span>
  </div>
</nav>
<div class="container bg-light my-5 rounded shadow text-center bgContainer align-items-center">
  <div class="row justify-content-start align-items-center">
    <!-- lista de preguntas -->
    <div class="col">
      <h4 class="d-flex align-items-start">Preguntas actualmente publicadas</h4>
      <ul class="list-group" style="margin-bottom: 2rem;">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
    <!-- herramientas -->
    <div class="col">
      <div class="row input-group" style="margin-right: 3rem;">
        <!-- add new question -->
        <h4 class="d-flex align-items-start">Nueva pregunta</h4>
        <form action="/adminPanel" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="text" class="rounded form-control" name="newQuestion">
          <button type="submit" class="w-55 btn btn-dark btn-lg my-2 mx-0"> Añadir</button>
        </form>
        <div class="row mx-1">
          <button type="button" class="w-80 btn btn-dark btn-lg mt-3"> Editar preguntas</button>
          <button type="button" class="w-80 btn btn-dark btn-lg my-2"> Registro de estudiantes</button>
        </div>
      </div>      
    </div>
  </div>
</div>
{% endblock %}